html, body{
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
    color: #a5a2a1;
}
a:hover {
    text-decoration: none;
    color: #ff6600;
  }
li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}
.title h6{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
}
.title h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #232121;
  }
/* .HomePage */
.HomePage{    
    background-image: url(../img/banner2.jpg );
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
.HomePage::before{
    content: "";
    background: rgb(16 15 19 / 66%);
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    min-height: 100%;
    right: 0;
}
.number{
    max-width: 700px;
    margin: 0 auto;
}
.number h3{
    color: white;
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    max-width: 800px;
}
.number .button a:first-child{
    border: 2px solid white !important;
}
.button a{
    color: white;
}
.btn-white {  
    display: inline-block;
    background: transparent;
    color: #fff;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 8px;
    border-color: rgb(255,255,255);
    background: rgb(0 0 0 / 0%);
    border-image: initial;
  }
.btn-white:hover {
    background: #fff;
    border: 2px solid #fff;
    color: orangered !important;
    text-decoration: none;
  }
.btn-style, 
.btn-white{
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 8px;
    border: 2px solid #00000000;
}
.btn-primary{
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #ff6600;

}
.btn-primary:hover{
    background-color: #ff6600;
    border-color: #ff6600;
    color: #fff;
    opacity: 0.8;
}
/* START  */
.start{
    overflow: unset;
    margin-top:-120px;
    z-index: 99999;
    position: relative;
}
.start .container{
    overflow: unset;
}
.start_content .row{
    padding: 0;
}
.start_item{
    background-color: #fff;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    padding: 40px 20px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
}
.start_top{
    flex-shrink: 0;
}
.start_top span{
    border-radius: 50%;
    background-color: #ff6600;
    color: white;
    width: 68px;
    height: 68px;
    line-height: 68px;
    font-size: 26px;
}
.start_top p{
    font-size: 2.6em;
    font-weight: 600;
    color: #232121;
    margin-top: 20px;
}
.start_item p{
    flex: 1;
}
.dark .start_item {
    background-color: #232220;
}
.start_item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: 0.3s ease;
}
.start_item span.fa {
    background: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    color: white;
}
.start_item .number {
    font-size: 2.6em;
    font-weight: 600;
    color: #232121;
  }
  
.start_item .number {
    margin-bottom: 20px;
}
  
.start_text {
    text-transform: capitalize;
    color: #161c2db3;
    font-weight: 600;
}
  
/* VIDEO  */
.video {
  margin-top: -60px;
  overflow: unset;
  }
  .video__main {
    background: url(/img/banner3.jpg) no-repeat center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1170px;
    grid-template-rows: 500px;
    border-radius: 6px;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-left: 106px;    
  }
  
  .video__main::before {
    content: "";
    background-color: #100f1399;
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
  }
  
  .video__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  
  .video__overlay .video__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  .video__icon span {
    width: 80px;
    height: 80px;
    font-size: 26px;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    color: #ff6600;
    border: transparent;
    background: #fff;
    text-align: center;
    padding-left: 2px;
    text-align: center;
    cursor: pointer;
  }
  
  .video__icon span:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    background: #ff6600;
    border: transparent;
    color: #fff;
  }
  .ripple__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;

  }
  .ripple {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10000;
  }
  
  .ripple span {
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    animation: animate 3s linear infinite;
    animation-delay: calc(0.5s * var(--i));
    z-index: -10;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  @keyframes animate {
    0% {
      width: 0px;
      height: 0px;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }
#btn-modal{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background-color: transparent;
    border: 1px solid white;
  }
  .modal-content{
    width: 560px !important;
    height: 335px !important;
  }
  .modal-content{
    background-color: transparent !important;
    border: none;
  }
  #btn-close.close{
    font-weight: normal;
    opacity: 1;
    font-size: 40px;
  }
  .modal-header .close{
    padding: 1rem 0 1rem !important;
  }
  .modal-header{
    border-bottom: none;
    padding: 0.3rem 1rem !important;
  }
  .video-modal iframe{
    border-radius: 7px;
  }
  .modal-body{
    padding: 0 !important;
  }
  .modal{
    background: rgba(0, 0, 0, 0.8);
  }
  .video__icon span{
    position: absolute;
    top: 0;
    right: 0;
  }
/* BLOGS  */
.blogs{
    background-color: #f7f7f7;
}
.dark .blogs{
    background-color: #282828;
}
.title h6 {
    font-family: "Pacifico", cursive;
    color: #ff6600;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}
.blogs_title h6{
    margin-bottom: 0;
}
.container .row{
  margin-left: -114px;
  margin-right: -114px;
}
.testimonials .title h6 {
    margin-bottom: 0;
  }
  
.title h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}
  
.dark .title h3 {
    color: #eee;
}
.card {
    background-color: #f7f7f7;
    border: none;
}
  
.card_footer img {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
  
.card_inf {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.card_inf span{
  padding-right: 57px;
}
  
.card_header {
    position: relative;
}
  
.card_header img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
  
.card_content {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
  
.card_content a {
    color: #ff6600;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 5px;
    display: inline-block;
    transition: all .3s;
    /* letter-spacing: 0.05em; */
}
.card_content a:hover{
  color: #5431ac;
}
  
.card_content span {
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 0.02em;
}
  
.card_body {
    border: none;
    box-shadow: none;
}
  
.card_body a {
    display: block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #232121;
    margin-top: 25px;
    margin-bottom: 15px;
}
  
.dark .card_body a {
    color: #eee;
}
  
.card_body p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    font-family: "Quicksand", sans-serif;
}
  
.dark .card_body p {
    color: #c2d0da;
}
  
.card_footer span {
    font-weight: 700;
    color: #404040;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 1rem ;
}
.dark .card_footer span {
    color: #eee;
}
  
.card_footer a {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #232121;
    opacity: 0.9;
}
.dark .card_footer a {
    color: #eee;
  }
  
  .card_footer a:hover {
    color: #ff6600;
  }
  
  .card_footer i {
    margin-left: 0.5rem;
    font-size: 18px;
  }
  
  .item_content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .item_header a.img_comment {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .item_header img {
    border-radius: 50%;
  }
  
  .item_body h4,
  .item_body i {
    color: #232121;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
  }
  
  .dark .item_body h4 {
    color: #eee;
  }
  
  .item_body i {
    color: #ff6600;
  }
  
  .item_footer h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
  }
  
  .dark .item_footer h3 {
    color: #eee;
  }
  
  .item_footer p {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 0;
    opacity: 0.8;
    margin-top: 4px;
  }
  
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ff6600;
  }
/* FOOTER CONTACT */
.footer__contact {
    background-color: black;
  }
  .footer__logo h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    padding: 0;
  }
  
  .footer__item {
    color: #a5a2a1;
  }
  .footer__item p{
    color: #a5a2a1 !important;
  }
  .dark .footer__item p{
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1 !important;
  }
  
  .footer__item li {
    margin-bottom: 10px;
  }
  
  .footer__item input[type="email"] {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    border-radius: 8px;
  }
  
  .footer__item .btn {
    color: #fff;
    background-color: #ff6600;
    padding: 16px 45px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .footer__item .btn:hover {
    background-color: #ff6600;
    opacity: 0.8;
    border: 2px solid #ff6600;
  }
  
  .footer__social a {
    margin-right: 10px;
  }
  
  .dark .footer__social i {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 8px;
    color: #ff6600;
    background-color: #232220;
    transition: all 0.5s;
  }
  .footer__social i {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 8px;
    color: #ff6600;
    background-color: #eee;
    transition: all 0.5s;
  }
  
  .footer__social i:hover {
    color: white;
    background-color: #ff6600;
  }
  
  footer {
    background-color: black !important;
    padding: 1.2em 0;
    background: var(--footer-bg);
    border-top: 1px solid rgb(255 255 255 / 5%);
  }
  
  footer p {
    align-self: center;
    color: #ddd !important;
    font-size: 17px;
  }
  
  footer .row {
    padding: 0 20px;
  }
  
  footer span {
    color: #ff6600;
  }
  
  .dark .footer__item a:hover{
    color: #ff6600;
  } 
  
  .dark .footer__item a{
    font-size: 16px;
    color: #a5a2a1;
  }
  
  /* BACK TO TOP */
  .backtotop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;    
    z-index: 99999999999;
  }
  
  .cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
  
  .backtotop i{
    position: relative;
    color: #eee;
    background-color: #ff6600;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    transition: all .5s;
  }

  @media screen and (min-width: 1281px) {
    .container{
      max-width: 1200px !important;
    }
  }
  @media screen and (max-width: 800px) {
    .banner_content h3 {
      font-size: 40px;
      line-height: 50px;
    }
    .whatNew__item p {
      font-size: 18px;
      line-height: 28px;
    }
    .whatNew__item p:last-child {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 767.98px) {
    .whatNew__item .text {
      padding: 20px;
    }
    .wellcome__content h3 {
      font-size: 35px;
      line-height: 40px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .search {
      display: none;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
    }
    .title h3 {
      font-size: 30px !important;
      line-height: 38px;
    }
    .title h6{
      font-size: 16px;
    }
    .video__main {
      min-height: 350px;
      
    }
    .abMore__title h6 {
      font-size: 16px;
    }
    .abMore__title h3 {
      font-size: 30px !important;
      line-height: 38px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .banner_content h3 {
      font-size: 28px;
      line-height: 38px;
    }
    .banner {
      min-height: 500px;
    }
  
    .banner_content {
      margin-top: 30px;
    }
    .btn-white,
    .btn-style {
      padding: 10px 21px;
    }
  
    .title h3 {
      font-size: 26px !important;
      line-height: 36px;
    }
  
    .wellcome__content h3 {
      font-size: 26px;
      line-height: 34px;
    }
    .btn-white,
    .btn-style {
      padding: 10px 21px;
    }
    .abMore__title h3 {
      font-size: 26px !important;
      line-height: 36px;
    }
  }
  

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none !important;
}

/* sidebar */
#right-sidebar {
    width: 90px;
    position: fixed;
    z-index: 1000;
    right: 0px;
    top: 0;
    margin-top: 140px;
    background: #0D1326;
    border-radius: 8px 0 0 8px;
    border: none;
    text-align: center;

}

#right-sidebar button {
    font-size: 18px;
    margin: 15px 0;
    color: #e6ebff;
    background-color: #0D1326;
}

.menu {
    width: 80%;
    margin: auto;
    border-top: 1px solid white;
}

.nav-link {
    width: 100%;
    color: #e6ebff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

/* header */
header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-around;
    padding: 40px 0;
    z-index: 9999;

}

.container {
    width: 90%;
    margin: auto;
    padding: 0;
}

.header__logo a {
    font-size: 38px;
    font-weight: 700;
    text-decoration: none;
}

.header__container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    align-items: center;
}

.header__container .header__right {
    display: flex;

}

.header__right form {
    position: relative;
}

.header__right input {
    padding: 10px 50px 10px 20px;
    border-radius: 6px;
    border: 1px solid white;
    outline: none;

}


.header__right {
    position: relative;
}

.header__right span {
    position: absolute;
    top: 50%;
    right: 15px;
    cursor: pointer;
    color: black;
    transform: translateY(-50%);
}

.header__overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    background: rgb(6 3 0 / 77%);
    z-index: 10;
    transition: .5s;
}

.header__overlay.open {
    opacity: 1;
    visibility: visible;
}

.header__overlay .overlay__close {
    position: absolute;
    right: 90px;
    top: 70px;
    font-size: 20px;
    height: 45px;
    width: 45px;
    border-radius: 6px;
    border: none;
    background-color: #ff6600;
    color: white;
    overflow: hidden;
}

.header__overlay button:hover .header__overlay {
    opacity: 0;

}

.header__overlay a {
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.overlay__menu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header__right {
    align-items: center;
}

.header__right i {
    font-size: 30px;
}

/*banner */
.banner {
    min-width: 450px;
    height: 700px;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(/img/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
}

.banner__info {
    width: 50%;
}

.banner__info a {
    border: 2px solid white;
    color: white;
    transition: 0.6s;
}

.banner__info a:hover {
    color: #ff6600;
    background-color: white;
}

.banner__info h2 {
    font-weight: 600;
}

/* About us */
.aboutUs {
    min-width: 450px;
}

.aboutUs__container {
    padding: 80px 0;
    align-items: center;
}

.about__left h3 {
    color: #ff6600;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.about__left h2 {
    font-weight: 600;
    font-size: 38px;
}

.about__left .about__right p {
    color: rgba(22, 28, 45, 0.7);
    font-size: 18px;
    line-height: 28px;
}

/* content */
.content {
    background-color: #ff6600;
    min-width: 450px;
}


.content .content__left {
    position: relative;
    padding: 0;

}

.content .content__left img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.content__left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(16 15 19 / 46%);
    z-index: 2;
}

.content .content__right {

    padding: 80px 60px;
}

.content .content__right h4 {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}

.content .content__right h2 {
    font-size: 38px;
    font-weight: 600;
}

.content__right__item span {
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;

}

.content__right__item i {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    background-color: white;
    color: #ff6600;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}

.content__right__item:hover i {
    color: #fcb900;
}

.content__right p {
    font-size: 20px;
}

/* product */
.product {
    padding: 60px 0;
    text-align: center;
    min-width: 450px;
    background-color: #f7f7f7;
}

.product h4 {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: #ff6600;
}

.product h2 {
    font-weight: 600;
    font-size: 38px;
}

.product__item img {
    width: 100%;
    border-radius: 10px;

}

.product__item .item__img {
    position: relative;
    transition: 0.6s;
    cursor: pointer;
}

.product__item .item__img:hover {
    opacity: 0.85;
}

.product__item .item__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
}


.product__item .item__text {
    position: absolute;
    bottom: 25px;
    left: 40px;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
}

.product__item .item__text p {
    padding: 0;
    margin: 0;
}

.product__item .item__text span {
    color: #fcb900;
}

/* feature */
.features {
    min-width: 450px;
    padding: 60px 0;
}

.feature__box i {
    color: #ff6600;
    height: 65px;
    width: 65px;
    margin-right: 20px;
    font-size: 28px;
    background: rgba(130, 115, 252, .05);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 0.6s;
}

.feature__box p {
    font-size: 18px;
    color: rgba(22, 28, 45, 0.7);
}

.feature__box:hover i {
    background: #ff6600;
    color: white;
}

/* back  to top */

.backToTop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6600;
    font-weight: bold;
    color: white;
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 20px;

    visibility: hidden;
    opacity: 0;

}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

a.backToTop:hover {
    color: white;
}

@media screen and (max-width: 576px) {
    .banner__info h2 {
        font-size: 28px;
    }

    .banner__info a {
        padding: 5px;
        font-size: 10px;
    }

    .overlay__menu a {
        font-size: 18px;
    }

    .header__logo a {
        font-size: 28px;
    }

    .header__right {
        padding: 5px 25px 5px 10spx;
    }
}

@media screen and (max-width: 992px) {
    .banner__info h2 {
        font-size: 30px;
    }

    .banner__info a {
        padding: 5px;
        font-size: 10px;
    }


}